apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: redis
    app.kubernetes.io/instance: redis
    app.kubernetes.io/name: redis
  name: redis
  namespace: redis
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: redis
  template:
    metadata:
      labels:
        app: redis
        app.kubernetes.io/name: redis
    spec:
      nodeSelector:
        worker: "true"
      containers:
        - image: bitnami/redis
          name: redis
          securityContext:
            runAsUser: 0
            runAsGroup: 0
          ports:
            - containerPort: 6379
              hostPort: 6379
              protocol: TCP
          envFrom:
            - secretRef:
                name: redis-secret          
          env:
            - name: ALLOW_EMPTY_PASSWORD
              value: "no"
            - name: TZ
              value: Europe/London
          volumeMounts:
            - mountPath: /bitnami/redis
              name: data
      hostname: redis
      restartPolicy: Always
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: redis