---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: mariadb
  name: mariadb
  namespace: mariadb 
spec:
  type: LoadBalancer
  loadBalancerIP: 10.0.10.202
  ports:
    - name: "mariadb"
      port: 3306
      targetPort: 3306
  selector:
    app: mariadb